@charset "UTF-8";


*{
    font-family: 'Roboto';
}

:root{
    --cor0: #026773;
    --cor1: #F2E3D5;
    --cor2: #012E40;
    --cor3: #3CA6A6;
}

header{
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor2));
    color: var(--cor1); 
    padding: 0.5em;
    margin-bottom: 1em;
}

header h1{
    text-align: center;
}


nav > a{
    text-decoration: none;
    color: var(--cor1); 
    padding: 0.5em;
    margin-bottom: 10px;
    transition-duration: 0.5s;
    border-radius: 10px;
    font-weight: bold;

}

nav > a:hover{
    background-color: var(--cor1); 
    color: var(--cor2); 
}

body{
    background-color: var(--cor2);
    margin: auto;
}

main{
    background-color: var(--cor2);
}

main img{
    width: 100%;
}


div.carro{
    padding: 2em;
    margin: auto;
    border-style: ridge;
    border-bottom: none;
    border-color: var(--cor0);
}

div.carro > img{
    width: 25em;
    height: auto;
    margin: auto;
    display: inline;
    border: 0;
}

div.carro > aside{
    margin: auto;
    margin-top: 1em;
    width: 20em;
    height: 24em;
    padding-bottom: 50px;
    display: inline-block;
    padding: 1em;

}

div.carro > aside > h2{
    text-align: center;
    color: var(--cor3);
}

div.carro > aside > p{
    text-align: end;
    color: var(--cor1);
    letter-spacing: 2.3px;
}

div.carro > aside > button{
    text-align: center;
    justify-content: center;
    margin: auto;
    display: block;
    padding-top: 5px;
}

div.video{
    width: 2em;
    display: inline-block;
    padding-left: 4em;
}

div.infos{
    display: flex;
    flex-direction: row;
    margin: auto;
    color: var(--cor3);
    padding-top: 3em;
}


div.infos > img{
    width: 3em;
    height: 3em;
    padding: 0;
    display: block;
    margin: auto;
    border: 0;
}

div.infos > aside{
    display: inline-block;
    margin: auto;
}


footer{
    background-color: var(--cor0);
    color: var(--cor1);
    text-align: center;
    padding: 4px;
    margin: 0px;
}


footer > p{
    margin: 0px;
}